$image_dir: '../images/';
$icons_image_dir: '../images/icons/';
$pictures_image_dir: '../images/pictures/';

/*---------------------------------
    Colors
  ---------------------------------*/
$color-accent:#d98637;

$color-white:#fff;


$color-light-gray1:#eee;
$color-light-gray2:#e7e7e7;
$color-light-gray3:#d7d7d7;
$color-light-gray4:#a1a1a1;

$color-copy-gray1:#959595;
$color-copy-gray2:#b7b7b7;
$color-copy-gray3:#cfcfcf;
$color-copy-gray4:#9e9e9e;

$color-black:#121920;

//$color-dark-gray:#2d2c2b;

//$color-subtle-gray:#cfceca;
//
//$color-medium-gray:#b3b3b3;
//
//$color-mobile-green:#92bc02;
//$color-dark-mobile-green:#729d00;
//$color-darker-mobile-green:#576a00;
//
//$color-alert-red:#ed1c24;
//
////black transparency, 50% opacity
//$color-black-trans:rgba(0,0,0,.5);


/*---------------------------------
    Fonts
  ---------------------------------*/

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-montserrat:"Montserrat", sans-serif;
$font-lato:"Lato", sans-serif;



//font sizes (at least the common ones)
$font-size-small:12px;
$font-size-normal:14px;
$font-size-large: 18px;
$font-size-xlarge: 24px;
$font-size-huge:36px;

/*---------------------------------
    Mixins
  ---------------------------------*/

/*---------------------------------
    Bootstrap variables
  ---------------------------------*/
$link-color: $color-accent;
$btn-default-color: $color-accent;
$btn-default-bg:  transparent;
$btn-default-border: $color-accent;

$btn-info-color: $color-accent;
$btn-info-bg: $color-white;
$btn-info-border: $color-white;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $color-accent;
$btn-primary-border:             $color-accent;

$btn-font-weight: 900;

$modal-lg:                    800px !default;
$modal-header-border-color: transparent;
$modal-inner-padding:         10px 45px !default;
$modal-title-padding:         40px 45px 10px !default;

$input-bg:                       #e4e7ed !default;
$input-color:                    #a1a1a1 !default;
$input-border:                   #e4e7ed !default;


