@import "_variables";

//base styles

body {
  background: $color-light-gray1;
  font-family: $font-lato;
  font-size: $font-size-normal;
}

h1 {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: $font-size-huge;
}

h2 {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: $font-size-xlarge;
  color: $color-accent;
  padding: 10px 0;
}

h4 {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: $font-size-large;
  color: $color-accent;
  padding: 10px 0;
}

h5 {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: $font-size-normal;
  color: $color-accent;
  padding: 10px 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.btn {
  border-width: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $font-size-small;
}

.btn-primary {
  font-size: $font-size-large;
  font-family: $font-montserrat;
  padding: 10px 20px;
}

.modal-title {
  color: $color-accent;
  font-size: $font-size-huge;
  font-family: $font-montserrat;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.form-control {
  box-shadow: none;
}

.modal-header .close {
  margin-top: -20px;
}


