@import "variables";
//base styles

body {
  background: $color-light-gray1;
  font-family: $font-lato;
  font-size: $font-size-normal;
}
h1{
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: $font-size-huge;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.navbar{
  border-radius: 0;
  margin-bottom: 0;
}