@import "_variables";
/*------------------------------------*\
    MAIN SEARCH
\*------------------------------------*/
.search-section{
  .form-control{
    font-size: $font-size-large;
    color: $color-copy-gray1;
    border-radius: 0;
    border: none;
    height: 80px;
    padding: 3px 10px 9px 49px;
    //    @include placeholder {
    //      color: $color-white;
    //    }
  }
  .input-group-addon{
    border: none;
    padding: 0;
    input[type="submit"]{
      border: none;
      border-radius: 0;
      background-color: $color-accent;
      color: $color-white;
      height: 80px;
      width: 192px;
      font-family: $font-montserrat;
      font-size: $font-size-large;
    }
  }
}

@media only screen and (max-width: 767px) {
  .search-section{
    .form-control{
      font-size:$font-size-xlarge;
      padding-left: 39px;
    }
  }
}

@media only screen and (max-width: 480px){
  .search-section{
    .form-control{
      font-size: 10px;
      padding-left: 10px;
      height: 40px;
      background-color: $color-white;
    }
    .input-group-addon input[type="submit"]{
      width: 83px;
      font-size: 10px;
      height: 40px;
    }
  }
}

